<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @comment.message %>
  <%= @comment.created_at %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @comment.user.name, @comment.user %>
</p>

<p>
  <strong>Article:</strong>
  <%= link_to @comment.article.title, @comment.article %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
